@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "variables";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
  font-family: $font-stack;
  .about-me {
    padding: 15px;
    h2 {
      color: $primaryColor;
    }
    .avatar {
      padding: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../images/photo.jpg");
      height: 400px;
      width: 100%;

    }
  }
  hr {
    color: $primaryColor;
    height: 5px;
  }
  #headingOne button, #headingTwo button, #headingThree button, #headingFour button {
    color:$primaryColor;
  }

  #contactSection {
    padding-top: 40px;
  }

  #email {
    word-wrap: break-word;
    text-decoration: none;
    color: $primaryColor;
  }

  form {
    padding-top: 10px;
    button {
      margin-bottom: 20px;
    }
    textarea {
      resize: none;
    }
  }

  #infoAboutMe, #offer, #contact {
    margin-top: -57px;
    position: absolute;
  }

  #navbarTogglerDemo02 li{
    margin-left: 10px;
  }
}








